#===========================#
#======Self-Workspaces======#
#===========================#
self-assessment/
temp/
tmp/

#===========================#
#============Expo===========#
#===========================#
*.zip